*{
    font-family: "Space Mono", serif;

}
h1, h2{
    text-align: center;
}
table{
    border: 2px solid lightslategrey;
    margin: 0 auto;
    width: 800px;
}
td{
    border: 2px solid lightslategrey;

}